:root {
    --primary-color: #4C3A51;
    --secondary-color: #774360;
    --tertiary-color: #B25068;
    --quaternary-color: #E7AB79;
    --white-color: #fff;
    --gray-color: #303030;
    --dark_gray-color: #252525;
    --black-color: #1b1c1e;
}
