@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

html, body {
  font-family: "Inter", sans-serif;
  background-color: var(--black-color);
  overflow-y: hidden;
}

:root {
  --primary-color: #4C3A51;
  --secondary-color: #774360;
  --tertiary-color: #B25068;
  --quaternary-color: #E7AB79;
  --white-color: #fff;
  --light_white-color: #303030;
  --gray-color: #2b2b2b;
  --dark_gray-color: #252525;
  --light_black-color: #1f1f1f;
  --black-color: #1b1c1e;
  --radius-primary: 5px;
  --radius-secondary: 10px;
  --transition-duration: ease .2s;
}

main {
  height: 100vh;
  max-width: 1200px;
  margin: 12px auto;
  color: var(--white-color);
  position: relative;
}

.brand {
  font-size: 1.35rem;
  font-weight: 700;
}
.brand span {
  color: var(--quaternary-color);
}

i {
  padding: 5px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 15px;
  height: 60px;
  background-color: var(--dark_gray-color);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
  z-index: 99;
}
nav .adminLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  font-size: 1.2rem;
  background: linear-gradient(180deg, var(--light_white-color) 0%, var(--dark_gray-color) 100%);
  text-decoration: none;
  color: var(--white-color);
  height: 100%;
  width: 60px;
}
nav .logout {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 0.9rem;
  cursor: pointer;
}
nav .logout i {
  font-size: 1.2rem;
}

label {
  font-size: 0.9rem;
  padding-bottom: 4px;
}

input {
  font-size: 1.2rem;
  font-family: monospace;
  color: var(--white-color);
  background-color: var(--light_white-color);
  padding: 8px;
  margin-bottom: 15px;
  border-radius: var(--radius-primary);
  border: none;
  outline: none;
  transition: var(--transition-duration);
}
input:focus {
  outline: solid 3px var(--secondary-color);
}

section {
  margin-top: 40px;
  height: 85%;
  width: 100%;
  display: flex;
  position: absolute;
}
section.atm_interface {
  gap: 10px;
  flex-direction: column;
}
section.atm_interface .top {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
section.atm_interface .top .user_balance {
  display: flex;
  flex-direction: column;
}
section.atm_interface .top .user_balance .balance {
  font-weight: 900;
  font-size: 2rem;
}
section.atm_interface .bottom {
  display: flex;
  height: 65%;
  gap: 10px;
}
section.atm_interface .bottom .left {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
}
section.atm_interface .bottom .left .transaction_history_title {
  background-color: var(--gray-color);
  font-weight: 600;
  border-top-left-radius: var(--radius-secondary);
  border-top-right-radius: var(--radius-secondary);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
}
section.atm_interface .bottom .left .transaction_history_title span:first-child {
  text-align: start;
}
section.atm_interface .bottom .left .transaction_history_title span:last-child {
  text-align: end;
}
section.atm_interface .bottom .left .transaction_history {
  height: 100%;
  background-color: var(--light_black-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  border-bottom-left-radius: var(--radius-secondary);
  border-bottom-right-radius: var(--radius-secondary);
  overflow-y: scroll;
  /* Track */
  /* Handle */
  /* Handle on hover */
}
section.atm_interface .bottom .left .transaction_history span:first-child {
  text-align: start;
}
section.atm_interface .bottom .left .transaction_history span:last-child {
  text-align: end;
}
section.atm_interface .bottom .left .transaction_history::-webkit-scrollbar {
  width: 6px;
}
section.atm_interface .bottom .left .transaction_history::-webkit-scrollbar-track {
  opacity: 0;
}
section.atm_interface .bottom .left .transaction_history::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #888;
}
section.atm_interface .bottom .left .transaction_history::-webkit-scrollbar-thumb:hover {
  background: #555;
}
section.atm_interface .bottom .left .cell {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
section.atm_interface .bottom .left .cell span, section.atm_interface .bottom .left .cell div {
  width: 100%;
}
section.atm_interface .bottom .left .cell .transaction_type {
  text-transform: capitalize;
  font-weight: 600;
}
section.atm_interface .bottom .left .cell .hsd {
  opacity: 0.5;
}
section.atm_interface .bottom .left .cell .transaction_balance {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.atm_interface .bottom .left .cell .transaction_balance .transaction_previousAmount {
  font-weight: 700;
  font-size: 1.1rem;
}
section.atm_interface .bottom .left .cell .transaction_balance .transaction_amount {
  font-weight: 500;
}
section.atm_interface .bottom .left .hsc {
  min-height: 60px;
  background-color: var(--dark_gray-color);
  border-radius: var(--radius-secondary);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
}
section.atm_interface .bottom .left .hsc:nth-child(even) {
  background-color: var(--light_white-color);
}
section.atm_interface .bottom .right {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: inherit;
}
section.atm_interface .bottom .right .withdraw {
  background-color: var(--secondary-color);
}
section.atm_interface .bottom .right .transaction_action {
  position: relative;
  height: 50%;
  border-radius: var(--radius-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
  cursor: pointer;
  overflow: hidden;
  background: linear-gradient(80deg, var(--tertiary-color), var(--secondary-color) 50%, var(--primary-color)) var(--x, 0)/200%;
  transition: var(--transition-duration);
}
section.atm_interface .bottom .right .transaction_action:hover {
  --x: 100%;
}
section.atm_interface .bottom .right .transaction_action span {
  position: absolute;
  left: -80px;
  bottom: -80px;
  transform: rotate(-10deg);
  opacity: 0.3;
  font-size: 18rem;
  transition: var(--transition-duration);
}
section.atm_interface .bottom .right .transaction_action:hover {
  font-size: 1.45rem;
}
section.atm_interface .bottom .right .transaction_action:hover > span {
  transform: rotate(-8deg);
  font-size: 18.5rem;
}
section.login_interface {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
}
section.login_interface .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95%;
  width: 50%;
}
section.login_interface .container.left {
  background-color: var(--dark_gray-color);
  border-top-left-radius: var(--radius-secondary);
  border-bottom-left-radius: var(--radius-secondary);
}
section.login_interface .container.left form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
section.login_interface .container.left form h1 {
  left: 0;
}
section.login_interface .container.left form .login_inputs {
  display: flex;
  flex-direction: column;
}
section.login_interface .container.left form .login_inputs input::-webkit-outer-spin-button,
section.login_interface .container.left form .login_inputs input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section.login_interface .container.left form button {
  color: var(--white-color);
  background: rgb(178, 80, 104);
  background: linear-gradient(180deg, rgb(178, 80, 104) 0%, rgb(119, 67, 96) 100%);
  padding: 18px;
  border-radius: var(--radius-primary);
  border: none;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
  cursor: pointer;
  transition: var(--transition-duration);
}
section.login_interface .container.left form button:hover {
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
section.login_interface .container.right {
  background-color: var(--light_white-color);
  border-top-right-radius: var(--radius-secondary);
  border-bottom-right-radius: var(--radius-secondary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
section.login_interface .container.right form {
  display: flex;
  flex-direction: column;
}
section.login_interface .container.right form label {
  margin-top: 20px;
}
section.login_interface .container.right form input {
  background-color: var(--dark_gray-color);
}
section.login_interface .container.right form input::-webkit-outer-spin-button, section.login_interface .container.right form input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.7333333333);
  color: var(--white-color);
  z-index: 9;
}
.modal div, .modal form {
  padding: 8px;
}
.modal .title_bar {
  display: flex;
  justify-content: space-between;
  width: 300px;
  background-color: var(--dark_gray-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.modal .title_bar i {
  cursor: pointer;
}
.modal form {
  width: 300px;
  height: 120px;
  position: relative;
  background-color: var(--black-color);
  display: flex;
  padding-top: 30px;
  flex-direction: column;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.modal form input {
  font-size: 2rem;
  font-weight: 700;
}
.modal form .modal_input_id {
  display: none;
}
.modal form button {
  font-weight: 600;
  letter-spacing: 0.1rem;
  color: var(--white-color);
  background: linear-gradient(180deg, var(--light_white-color) 0%, var(--dark_gray-color) 100%);
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0;
  left: 0;
  border: none;
  cursor: pointer;
}
.modal form button:hover {
  background: rgb(178, 80, 104);
  background: linear-gradient(180deg, rgb(178, 80, 104) 0%, rgb(119, 67, 96) 100%);
}

.atm_card {
  width: 350px;
  height: 200px;
  background: rgb(178, 80, 104);
  background: linear-gradient(45deg, rgb(178, 80, 104) 0%, rgb(119, 67, 96) 100%);
  position: relative;
  border-radius: calc(var(--radius-secondary) + 5px);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.0666666667);
  transition: 0.8s;
}
.atm_card .brand {
  position: absolute;
  top: 20px;
  right: 20px;
}
.atm_card .qrcode {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 65px;
  width: 65px;
  border-radius: var(--radius-primary);
  overflow: hidden;
  cursor: pointer;
}
.atm_card .atm_cardNum {
  position: absolute;
  top: 95px;
  left: 20px;
  font-size: 1.4rem;
  font-weight: 700;
}
.atm_card .atm_cardHolder {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 0.7rem;
  opacity: 0.5;
  left: 20px;
  bottom: 30px;
}
.atm_card .atm_cardHolder span {
  font-size: 1.2rem;
  font-weight: 700;
}
.atm_card .atm_cardId {
  display: flex;
  flex-direction: column;
  position: absolute;
  font-size: 0.7rem;
  opacity: 0.5;
  left: 270px;
  bottom: 30px;
}
.atm_card .atm_cardId span {
  font-size: 1.2rem;
  font-weight: 700;
}
.atm_card .atm_cardId span {
  cursor: pointer;
}

.currency::before {
  content: "₱ ";
}/*# sourceMappingURL=main.css.map */